.fade {
  opacity: 0;
}
.fade-in {
  animation: fade-in 1s forwards;
}
@keyframes fade-in {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  25% {
    opacity: 0.9;
  }
  75% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .fade {
    opacity: 1;
  }
}
