<html>
  <div
    style="
      width: 100%;
      padding: 10px;
      background-color: #1e1e2f;
      display: flex;
      align-items: center;
      justify-content: center;
    "
  >
    <div class="" style="margin: 0 auto; text-align: center">
      <img
        src="cid:logo"
        style="
          width: 75%;
          text-align: center;
          max-width: 200px;
          min-width: 50px;
        "
        alt=""
        srcset=""
      />
    </div>
  </div>
  <div
    style="
      width: 100%;
      padding: 50px 10px;
      background-color: white;
      text-align: center;
    "
  >
    <h1 style="margin: 20px 0px">
      Gracias por registrarte en Apolo NFT Group, <%= username%>!
    </h1>
    <p>
      Usa el siguiente enlace para confirmar tu correo:
      <br />
      <a style="margin: 20px 0px" href="<%= enlace%>"><%= enlace%></a>
    </p>
  </div>
</html>
