<script src="/js/plan.js"></script>
<div class="row">
  <div class="col-md-4">
    <a
      class="card fade-custom mx-0 card-upgrade h-100 d-flex align-items-center justify-content-center btn btn-defailt btn-block animation-on-hover card-header"
      href="javascript:planSelected(1)"
    >
      <div class="card-reader text-center">
        <span class="material-symbols-sharp gold mb-2 plan-icon"
          >pedal_bike</span
        >
        <h1>Plan Conservador</h1>
        <h3>Porcentaje de Retorno promedio <span class="gold">~%</span></h3>
        <small>Cada 24 horas</small>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a
      class="card fade-custom mx-0 card-upgrade h-100 d-flex align-items-center justify-content-center btn btn-defailt btn-block animation-on-hover card-header"
      href="javascript:planSelected(2)"
    >
      <div class="card-reader text-center">
        <span class="material-symbols-sharp gold mb-2 plan-icon"
          >agriculture</span
        >
        <h1>Plan Moderado</h1>
        <h3>Porcentaje de Retorno promedio <span class="gold">~%</span></h3>
        <small>Cada 24 horas</small>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a
      class="card fade-custom mx-0 card-upgrade h-100 d-flex align-items-center justify-content-center btn btn-defailt btn-block animation-on-hover card-header"
      href="javascript:planSelected(3)"
    >
      <div class="card-reader text-center">
        <span class="material-symbols-sharp gold mb-2 plan-icon"
          >two_wheeler</span
        >
        <h1>Plan Arriesgado</h1>
        <h3>Porcentaje de Retorno promedio <span class="gold">~%</span></h3>
        <small>Cada 24 horas</small>
      </div>
    </a>
  </div>
</div>
<script>
  function planSelected(id) {
    // alert("Huh");
    // if (!user) {
    //   window.location.href = "/dashboard";
    //   return;
    // }
    $("html").append("<div class='overlay'></div>");
    $.ajax({
      url: `/getTransacionInfo/${id}`,
      type: "GET",
    }).done((res) => {
      $(".overlay").remove();
      $("html").append(res);
      $(".popup-overlay")
        .click((e) => {
          $(".popup-overlay").hide();
        })
        .catch((err) => {
          $(".overlay").remove();
          alert("Algo salio mal");
        });
      $(".popup").click((e) => {
        e.stopPropagation();
      });
    });
    $.ajax({
      url: `/getplan/${id}`,
      type: "GET",
    }).done((res) => {
      console.log(res);
      plan = res;
    });
  }
</script>
